.solusi { 
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: poppins;
  padding: 80px 0px 0px 0px;
  margin: px;
}

.paragraf {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: poppins;
  padding: 10px 300px 50px 300px;
  margin: 0px;
}

.bg {
  background-color: rgb(6, 31, 65);
}

header nav ul {
list-style-type: none;
}