
#hero {
    background-color: grey; padding: 50px; text-align: center; border-radius: 20px; margin: 20px 20px 0px 20px;
    font-family: poppins; color: white;
}

.justify {
    text-align: justify;
}

#bg-all {
    background-color: rgb(255, 255, 255); 
}

.oswald {
    font-family: oswald;
}

#product .wrap {

    display: flex; 
    flex-wrap: wrap; 
    gap: 25px;
    justify-content: center;
    padding: 50px 20px 50px 20px;
    background-color: rgb(13, 13, 77);
}